<div class="container">
  <h1> Formulaire de connection </h1>
  <form>
    <div class="form-container">
      <label>Pseudo : </label>
      <input type="text" placeholder="Entrez votre pseudo" name="username" required>
      <label>Mot de passe : </label>
      <input type="password" placeholder="Entrez votre mot de passe" name="password" required>
      <button type="submit">Se connecter</button>
      <span>Se souvenir de moi<input type="checkbox" checked="checked"></span>
      <button type="button" class="cancelbtn"> Annuler</button>
      <span><a href="#"> mot de passe oublié ?</a></span>
    </div>
  </form>
</div>